header{
    height: 95vh;
}

h1{
    top: 20rem;
    font-size: 6rem;
}

header h2{
    top: 22rem;
    font-size: 2.5rem;
    width: 80%;
}

header #arrow{
    height: 5.5rem;
    width: 5.5rem;
    top: 80%;
    font-size: 3rem;
    line-height: 5.5rem;
}

/*section projet*/

.Body p{
    font-size: 1rem;
}

a.savoirPlus{
    width: 70px;
    height: 30px;
    line-height: 30px;

}
