header{
    height: 100vh;
}

h1{
    top: 33rem;
    font-size: 12rem;
}

header h2{
    top: 35rem;
    font-size: 5rem;
    width: 100%;
   
}

header #arrow{
    height: 6.5rem;
    width: 6.5rem;
    top: 50%;
    font-size: 4rem;
    line-height: 6.5rem;
}

#capable{
    height: 110rem;
}
/*section projet*/

.Body p{
    font-size: 1rem;
}

