header{
    height: 100vh;
}

h1{
    top: 22rem;
    font-size: 11rem;
}

header h2{
    top: 25rem;
    font-size: 4rem;
    width: 60%;
}

header #arrow{
    height: 5.5rem;
    width: 5.5rem;
    top: 55%;
    font-size: 3rem;
    line-height: 5.5rem;
}

a.cv{
    margin-top: 50rem;
}

#capable{
    height: 80rem;
}