header{
    height: 70vh;
}

h1{
    top: 33rem;
    font-size: 9rem;
}

header h2{
    top: 33rem;
    font-size: 4.2rem;
    width: 100%;
   
}

header #arrow{
    height: 6.5rem;
    width: 6.5rem;
    top: 60%;
    font-size: 4rem;
    line-height: 6.5rem;
}

#capable{
    height: 110rem;
}
/*section projet*/

.Body p{
    font-size: 1rem;
}

