header{
    height: 95vh;
}

h1{
    top: 18rem;
    font-size: 6rem;
}

header h2{
    top: 22rem;
    font-size: 2rem;
    width: 65%;
   
}

header #arrow{
    height: 3.5rem;
    width: 3.5rem;
    top: 55%;
    font-size: 2rem;
    line-height: 3.5rem;
}

/*section projet*/

.Body p{
    font-size: 1rem;
}

a.savoirPlus{
    width: 70px;
    height: 30px;
    line-height: 30px;

}