header{
    height: 75vh;
}

h1{
    top: 18rem;
    font-size: 5rem;
}

header h2{
    top: 19rem;
    font-size: 1.8rem;
    width: 50%;
   
}

header #arrow{
    height: 3.5rem;
    width: 3.5rem;
    top: 65%;
    font-size: 2rem;
    line-height: 3.5rem;
}

/*section projet*/

.Body p{
    font-size: 1rem;
}

a.savoirPlus{
    width: 70px;
    height: 30px;
    line-height: 30px;

}