header{
    height: 85vh;
}

h1{
    top: 18rem;
    font-size: 4.5rem;
}

header h2{
    top: 20rem;
    font-size: 1.8rem;
    width: 50%;
    margin-left: 2rem;
}

header #arrow{
    height: 3.5rem;
    width: 3.5rem;
    top: 75%;
    font-size: 2.5rem;
    line-height: 3.5rem;
}

/*section projet*/

.Body p{
    font-size: 0.8rem;
}
a.savoirPlus{
    width: 70px;
    height: 30px;
    line-height: 30px;

}
