html{
    font-size: 10px;
}

body{
    margin: 0;
    font-family: 'Lato', 'sans-serif';
    background-color:#f7f7f7;
}


/* navigation */

#navigation{
    position: fixed;
    z-index: 40;
    width: 100%;
    background-color:transparent;
    text-align: center;
    height: 10rem;
    clip-path: polygon(0% 0%, 100% 0%, 100% 70%, 55% 70%, 50% 90%, 45% 70%, 0% 70%);
    transition: all 0.4s ease-in-out;
    /* geenSock anime */
    opacity: 0;
}

#navigation .logoSite{
    width: 5rem;
    float: left;
    margin-left: 2.5rem;
    margin-top: 0.5rem;
}

#navigation a{
    text-decoration: none;
    font-size: 2.5rem;
    padding: 1rem 5rem;
    line-height: 6.5rem;
    font-family: 'Rajdhani';
    margin: auto;
    color: white;
}

#navigation a:active{
    font-size: 4rem;
}

.icon{
    display: none;
}

/* header accueil */

header{
    height: 100vh;
    width: 100%;
    background: url("../ressources/imgbackground.jpg");
    background-size: cover;
    background-position: center;
}

h1{
    text-align: center;
    margin: 0;
    color: white;
    position: relative;
    top: 30rem;
    font-family: 'Kaushan Script';
    font-size: 11rem;
    /* anime greenSock */
    opacity: 0;
}

header h2{
    text-align: center;
    margin: 0;
    color: #f7f7f7;
    position: relative;
    top: 30rem;
    font-family: 'Rajdhani';
    font-size: 5rem;
    letter-spacing: 0.2rem;
    /* anime greenSock*/
    opacity: 0;
}

header #arrow{
    color: black;
    height: 8rem;
    width: 8rem;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4rem;
    line-height: 8rem;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    background: white;
    box-shadow: 0 0 0 0 #fff;
    animation: pulse 1.3s infinite;
    /* anime GreenSock */
    opacity: 0;
}

@keyframes pulse{
    to{
        box-shadow: 0 0 0 1rem rgba(255, 255, 255, 0.01);
    }
}

/* Premiere Section About, 3 photos */

.section-about{
    background-color:#f7f7f7;
    padding-bottom: 10rem;
}

.centerH {
    text-align: center;
    margin-bottom: 3rem;
}


hr{
    margin-top: -2rem;
    height: 0.3rem;
    width: 10rem;
    background: linear-gradient(to right, #373737, #c0b283);
    border: transparent;
}

.titreAbout{
    font-size: 5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    background-image: linear-gradient(to right, #373737, #c0b283);
    font-family: 'Rajdhani';
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    letter-spacing: .2rem;
    padding-top: 5rem;
}

.row{
    max-width: 114rem;
    margin: 0 auto;

}

.fas{ 
    color:#373737;
    margin: 2rem;
}


.sousTitreAbout{
    font-size: 2.5rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
    background-image: linear-gradient(to right, #373737, #c0b283);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-family: 'Rajdhani';
    
}

.paragraphe{
    font-size: 1.9rem;
    font-family: 'Roboto';
    color: black;
}

.paragraphe:not(:last-child){
    margin-bottom: 3rem;
}

.row::after{
    content: "";
    display: table;
    clear: both;
}

.row [class^="col-"]{
    float: left;
}

.row [class^="col-"]:not(:last-child){
    margin-right: 6rem;   
}

.row .col-1-of-2{
    width: calc((100% - 6rem) / 2);
}

.composition{
    position: relative;
}

.composition_photo{
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    transition: all .2s;
    outline-offset: 2rem;
    margin-top: 5rem;
}

.composition_photo--1{
    left: 0;
    top: -2rem;
}

.composition_photo--2{
    right: 0;
    top: 2rem;
}

.composition_photo--3{
    left: 20%;
    top: 10rem;
}

.composition_photo:hover{
    outline: 0.5rem solid #c0b283;
    transform: scale(1.05) translate(-0.5rem);
    box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
    z-index: 30;
}

.composition:hover .composition_photo:not(:hover){
    transform: scale(0.95);
}

.techniques{
    display: inline-block;
    padding: 0 1em;
    text-align: center;
    background: #c0b283;
    color: black;
    margin-left: 2rem;
    font-size: 15px;
    margin: 5px;
    height: 36px;
    line-height: 36px;
    border-radius: 18px;
    font-family: 'Roboto'

}

.graphisme{
    display: inline-block;
    padding: 0 1em;
    text-align: center;
    background: #c0b283;
    color: black;
    margin-left: 2rem;
    font-size: 15px;
    margin: 5px;
    height: 36px;
    line-height: 36px;
    border-radius: 18px;
    margin-bottom: 5px;
    font-family: 'Roboto'
}

a.cv{
    display: block;
    width: 30%;
    height: 40px;
    line-height: 40px;
    background: #373737;
    margin: auto;
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
    font-size: 14px;
    color: #f7f7f7;
    font-family: 'Rajdhani';
    margin-top: 65rem;
    
}

a.cv:hover{
    background: #c0b283;
    color: #373737;
}

/* Section projets */

#projets{
    margin-top: 1%;
    border-top: 1px dashed rgb(209, 174, 59);
    background: #f7f7f7;
}

#projets h2{
    text-align: center;
    font-size: 5rem;
    background: #f7f7f7;
    background-image: linear-gradient(to right, #000000, rgb(255,239,185));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    margin: 0;
    padding-top: 4rem;
    font-family: 'Rajdhani';
}


#projets hr{
    margin-top: 2rem;
    height: 0.3rem;
    width: 10rem;
    background: linear-gradient(to right, #373737, #c0b283);
    border: transparent;
}

.Carrousel {
    margin: 50px auto;
    height: 18.4vw;
    width: 100%;
  }

.Body p{
    font-family: 'Rajdhani';
    text-align: center;
    font-size: 2rem;
}

.Header p{
    font-family: 'Rajdhani';
    
}

.Carrousel .Arrows {
    position: absolute;
    display: none;
    height: 53.4vw;
    width: 95%;
    left: 50%;
    transform: translate(-50%);
    z-index: 2;
  }
  .Carrousel .Arrows:hover {
    cursor: pointer;
  }
  .Carrousel .Arrows:hover ~ .New#Center .Info {
    top: 0px;
  }
  .Carrousel .Arrows:hover ~ .New#Center .Info .Header {
    height: auto;
  }
  .Carrousel .Arrows:hover ~ .New#Center .Info .Header p {
    padding: 0px;
    margin: 10px;
    
  }
  .Carrousel .Arrows:hover ~ .New#Center .Info .Header hr {
    width: 100%;
  }
  .Carrousel .Arrows .Arrow {
    opacity: 0.3;
    position: absolute;
    top: 50%;
    height: 100%;
    background-color: RGBA(51, 51, 51, 0.7);
    display: inline-flex;
    align-items: center;
  }
  .Carrousel .Arrows .Arrow i {
    font-size: 5em;
    color: white;
  }
  .Carrousel .Arrows .Arrow:hover {
    opacity: 1;
  }
  .Carrousel .Arrows .Arrow:first-of-type {
    transform: translate(0, -50%);
  }
  .Carrousel .Arrows .Arrow:nth-of-type(2) {
    left: 100%;
    transform: translate(-100%, -50%);
  }
  .Carrousel .New {
    overflow: hidden;
    display: inline-block;
    position: absolute;
    left: 50%;
    transition: transform 500ms;
    width: 33%;
    height: 18.4vw;
  }
  .Carrousel .New:hover {
    cursor: pointer;
  }
  .Carrousel .New#Center, .Carrousel .New#Center2 {
    transform: translateX(-50%);
    z-index: 1;
  }
  .Carrousel .New#Left {
    transform: translateX(-100%);
  }
  .Carrousel .New#Left {
    opacity: 0.6;
    transform: translate(-100%) scale(0.8);
  }
  .Carrousel .New#Right {
    opacity: 0.6;
    transform: scale(0.8);
  }
  .Carrousel .New img {
    width: 100%;
  }
  .Carrousel .New#Center:hover .Info {
    top: 0px;
  }
  .Carrousel .New#Center:hover .Info .Header {
    height: auto;
  }
  .Carrousel .New#Center:hover .Info .Header p {
    padding: 0px;
    margin: 10px;
  }
  .Carrousel .New#Center:hover .Info .Header hr {
    width: 100%;
  }
  .Carrousel .New .Info {
    transition: top 500ms;
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    width: 100%;
    color: white;
    top: 14vw;
    overflow: hidden;
    height: 18.4vw;
  }
  .Carrousel .New .Header {
    height: 4.6vw;
  }
  .Carrousel .New .Header p {
    margin: 0px;
    padding-top: 1.5vw;
    text-align: center;
    text-transform: uppercase;
    font-size: 2.5em;
  }
  .Carrousel .New .Header hr {
    width: 0px;
    height: 2px;
    background-color: #FFF;
    border: none;
    transition: width 500ms ease-in-out;
  }
  .Carrousel .New .Body p {
    margin: 10px;
  }
  
  a.savoirPlus{
    display: block;
    width: 100px;
    height: 40px;
    line-height: 40px;
    background:#c0b283;
    margin: auto;
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
    font-size: 14px;
    color: #373737;
    font-family: 'Rajdhani';
}

a.savoirPlus:hover{
    background: #f7f7f7;
    color: #373737;
}


/* Section carrousel */

#phrasesSlide{
    height: 60rem;
    width: 100%;
    border-top: 1px dashed rgb(209, 174, 59);
    background: url(../ressources/team.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.cadre{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 110rem;
    height: 40rem;
    transform: translate(-50%,-50%);
    border-radius: 2px;
    background: rgba(55, 55, 55, 0.3);
    color: white;
}

.centre{
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin-top: -2.25rem;
}

.carousel{
    position: relative;
    width: 100%;
    height: 4.5rem;
    text-align: center;
    line-height: 45px;  
}

.carousel .changeHidden{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin: auto;
    height: 13rem;
    line-height: 13rem;
    width: 100rem;
    overflow: hidden;
}

.carousel .changeHidden .contenant{
    position: relative;
    animation: carousel 8s ease-in-out infinite;
}

.carousel .changeHidden .element{
    font-weight: 700;
    font-size: 8rem;
    font-family: 'Rajdhani';
}

@keyframes carousel{
    0%, 20%{
        transform: translateY(0);
    }
    25%, 45%{
        transform: translateY(-13rem);
    }
    50%, 70%{
        transform: translateY(-26rem);
    }
    75%, 95%{
        transform: translateY(-39rem);
    }
    100%{
        transform: translateY(-52rem);
    }
}

/* Section capable */

#capable{
    height: 130rem;
    width: 100%;
    background: #f7f7f7;
    border-top: 1px dashed rgb(209, 174, 59);
    padding-bottom: 10rem;
}

#capable h3{
    text-align: center;
    font-size: 5.5rem;
    background-image: linear-gradient(to right, #373737, #c0b283);
    -webkit-background-clip: text;
    color: transparent;
    margin-bottom: 0;
    font-family: 'Rajdhani';
}

#capable p{
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 5rem;
    font-family: 'Roboto';
}

#capable hr{
    margin-top: 2rem;
    height: 0.3rem;
    width: 10rem;
    background: linear-gradient(to right, #373737, #c0b283);
    border: transparent;
    margin-bottom: 2rem;
}



.grilleCSS {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column: 1 / span 12;
}
.projet-left .box {
    grid-column: 3 / span 5;
    grid-row: 1 / span 3;
    width: 100%;
}
.projet-info {
    background: #373737;
    padding: 20px 20px 30px 20px;
    color: white;
}

.projet-info h4{
    font-family: 'Kaushan Script';
    text-align: center;
    font-size: 2rem;
}

.projet-left .box {
    grid-column: 3 / span 5;
    grid-row:  1 / span 3;
    width: 100%;
}
.projet-left .projet-info {
    grid-column: 7 / span 3;
    grid-row: 2 / span 1;
}

/* right */

.projet-right .box {
    grid-column: 6 / span 5;
    grid-row: 1 / span 3;
    width: 100%;
}
.projet-right .projet-info {
    grid-column: 4 / span 3;
    grid-row: 2 / span 1;
}
.box {
    position: relative;
    overflow: hidden;
}
.imgServices{
    width: 100%;
}

.overlay {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    background: #f7f7f7;
    width: 100%;
    height: 100%;
}

/* Section contact */

#contact{
    height: 90rem;
    width: 100%;
    border-top: 1px dashed rgb(209, 174, 59);
}

#contact h2{
    text-align: center;
    font-size: 5.5rem;
    background-image: linear-gradient(to right, #373737, #c0b283);
    -webkit-background-clip: text;
    color: transparent;
    font-family: 'Rajdhani';
}

#contact h3{
    text-align: center;
    font-size: 2.5rem;
    font-family: 'Rajdhani';
}

#form-div {
	background-color:#f0Ead6;
	padding-left:35px;
	padding-right:35px;
	padding-top:35px;
	padding-bottom:50px;
	width: 450px;
	float: left;
	left: 50%;
	position: absolute;
  margin-top:30px;
	margin-left: -260px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
}

.feedback-input {
	color:#3c3c3c;
	font-family:'Rajdhani';
  font-weight:500;
	font-size: 18px;
	border-radius: 0;
	line-height: 22px;
	background-color: #fbfbfb;
	padding: 13px 13px 13px 54px;
	margin-bottom: 10px;
	width:100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
  border: 3px solid rgba(0,0,0,0);
}

.feedback-input:focus{
	background: #fff;
	box-shadow: 0;
	border: 3px solid #3c3c3c;
	color: #3c3c3c;
	outline: none;
  padding: 13px 13px 13px 54px;
}

.focused{
	color:#3c3c3c ;
	border:#3c3c3c solid 3px;
}

/* Icons ---------------------------------- */
#name{
	background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#name:focus{
	background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
	background-size: 30px 30px;
	background-position: 8px 5px;
  background-position: 11px 8px;
	background-repeat: no-repeat;
}

#email{
	background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#email:focus{
	background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
	background-size: 30px 30px;
  background-position: 11px 8px;
	background-repeat: no-repeat;
}

#comment{
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

textarea {
    width: 100%;
    height: 150px;
    line-height: 150%;
    resize:vertical;
}

input:hover, textarea:hover,
input:focus, textarea:focus {
	background-color:white;
}

#button-blue{
	font-family: 'Rajdhani';
	float:left;
	width: 100%;
	border: #fbfbfb solid 4px;
	cursor:pointer;
	background-color: #3c3c3c;
	color:white;
	font-size:24px;
	padding-top:22px;
	padding-bottom:22px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}

#button-blue:hover{
	background-color: rgba(0,0,0,0);
	color: #3c3c3c;
}
	
.submit:hover {
	color:#c0b283;
}
	
.ease {
	width: 0px;
	height: 74px;
	background-color: #fbfbfb;
	-webkit-transition: .3s ease;
	-moz-transition: .3s ease;
	-o-transition: .3s ease;
	-ms-transition: .3s ease;
	transition: .3s ease;
}

.submit:hover .ease{
  width:100%;
  background-color:white;
}

.thank-you{
    text-align: center;
    margin-top: 15px;
    font-weight: bold;
    font-family: 'Rajdhani';
    font-size: 15px;
}


/* footer */

#flexMedias{
    height: 5rem;
    width: 100%;
    background-color: #f0Ead6;
    padding-bottom: 10rem;
   
}

.reseaux{
    display: flex;
    justify-content: center;
}

.medias{
    font-size: 5rem;
    margin: 2rem;
}

.medias a{
    text-decoration: none;
    color: black;
}

#flexMedias h3{
    font-size: 1.5rem;
    text-align: center;
}